/* ヘッダー */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header a {
    color: white;
    text-decoration: none;
    font-family: "M PLUS 1p", sans-serif;
    font-size: 18px;
}

.header-section {
    flex: 1;
    text-align: center;
}
